In [1]:
import pandas as pd
import numpy as np
import math

import numpy as np

In [13]:
df_md_baby_20210610 = pd.read_csv('/Users/mckim/PycharmProjects/fevercoach_db_20210601/md_baby_202160610.csv', dtype=str)
df_md_baby_20210610.shape

(991417, 14)

In [14]:
df_md_baby_20210610.head()

,_id,user_sn,name,birthday,gender,weight,next_check_time,sensing_gaps,convulsion,highrisks,last_update_de,last_update_id,last_update_weight,is_delete
0,10043,100035,양예지,2015-12-18,1,12,NaN,3,1,NaN,2017-11-30 07:25:10,NaN,NaN,0
1,10044,100037,지소율,2017-02-20,1,15.2,NaN,0,0,NaN,2021-04-18 00:58:24,NaN,NaN,0
2,10045,100034,이원호,2013-12-23,0,22.5,NaN,3,0,NaN,2020-02-13 17:22:35,NaN,NaN,0
3,10046,100036,방지유,2017-04-25,1,14.6,NaN,3,0,NaN,2020-02-13 17:38:35,NaN,NaN,0
4,10048,100041,이서원,2016-06-20,0,9,NaN,3,1,NaN,2018-01-13 23:10:52,NaN,NaN,0

In [15]:
df_md_baby_20210610['last_update_de'].max()

'2021-06-11 09:34:28'

In [19]:
df_md_baby_20210610 = df_md_baby_20210610[df_md_baby_20210610['birthday'].notnull()]
df_md_baby_20210610.shape

(990898, 14)

In [20]:
target_months_list = [
    '2019_06' ,'2019_07' ,'2019_08' ,'2019_09' ,'2019_10' ,'2019_11' ,'2019_12' ,
    '2020_01' ,'2020_02' ,'2020_03' ,'2020_04' ,'2020_05' ,'2020_06' ,
    '2020_07' ,'2020_08' ,'2020_09' ,'2020_10' ,'2020_11' ,'2020_12' ,
    '2021_01' ,'2021_02' ,'2021_03' ,'2021_04' ,'2021_05' ,
]

dfs = []
for yyyy_m in target_months_list:
    filepath = "/Users/mckim/PycharmProjects/fevercoach_db_20210601/md_data_{}.csv".format(yyyy_m)
    df_tmp = pd.read_csv(filepath, dtype=str)
    print(yyyy_m, df_tmp.shape)
    dfs.append(df_tmp)

df_all_md_data = pd.concat(dfs, axis=0)
df_all_md_data.shape

2019_06 (1947103, 23)
2019_07 (2069152, 23)
2019_08 (1696570, 23)
2019_09 (1742666, 23)
2019_10 (1762719, 23)
2019_11 (1872734, 23)
2019_12 (2541693, 23)
2020_01 (2117916, 23)
2020_02 (1073637, 23)
2020_03 (706411, 23)
2020_04 (673607, 23)
2020_05 (899586, 23)
2020_06 (910884, 23)
2020_07 (954659, 23)
2020_08 (873496, 23)
2020_09 (778629, 23)
2020_10 (1017326, 23)
2020_11 (966197, 23)
2020_12 (847612, 23)
2021_01 (719349, 23)
2021_02 (697475, 23)
2021_03 (1122558, 23)
2021_04 (1122164, 23)
2021_05 (1209544, 23)

(30323687, 23)

In [21]:
df_all_md_data.columns

Index(['_id', 'baby_id', 'app_code', 'group_id', 'type', 'data_1', 'data_2',
       'data_3', 'data_4', 'data_5', 'data_6', 'data_7', 'data_8', 'lat',
       'lng', 'weight', 'memo', 'date', 'last_update_de', 'is_test',
       'is_delete', 'birthday', 'convulsion'],
      dtype='object')

In [23]:
md_data_cols = """_id
baby_id
app_code
group_id
type
data_1
data_2
data_3
data_4
data_5
data_6
data_7
data_8
lat
lng
weight
memo
date
last_update_de
is_test
is_delete
""".split()

df_all_md_data = df_all_md_data[md_data_cols]
print(df_all_md_data.shape)

(30323687, 21)

In [24]:
df_join = pd.merge(df_all_md_data, df_md_baby_20210610, how='inner', left_on='baby_id', right_on='_id', suffixes=('_data', '_baby'))
df_join.shape

(30190088, 35)

In [25]:
print(sum(df_join['weight_data'].isnull()))
print(sum(df_join['weight_baby'].isnull()))

0
0

In [26]:
df_join.head()

,_id_data,baby_id,app_code,group_id,type,data_1,data_2,data_3,data_4,data_5,...,gender,weight_baby,next_check_time,sensing_gaps,convulsion,highrisks,last_update_de_baby,last_update_id,last_update_weight,is_delete_baby
0,37966188,194250,100,NaN,1,37.4,C,NaN,0,NaN,...,1,11.0,NaN,3,0,NaN,2020-07-05 11:06:33,NaN,NaN,0
1,37978575,194250,100,NaN,1,38.2,C,NaN,0,NaN,...,1,11.0,NaN,3,0,NaN,2020-07-05 11:06:33,NaN,NaN,0
2,37978612,194250,100,NaN,2,0,4.0,1,1,해열주사,...,1,11.0,NaN,3,0,NaN,2020-07-05 11:06:33,NaN,NaN,0
3,37979581,194250,100,NaN,1,37.8,C,NaN,0,NaN,...,1,11.0,NaN,3,0,NaN,2020-07-05 11:06:33,NaN,NaN,0
4,37991053,194250,100,NaN,1,38.7,C,NaN,0,NaN,...,1,11.0,NaN,3,0,NaN,2020-07-05 11:06:33,NaN,NaN,0

# Test weight_fileter function

In [27]:

def weight_filter(row):
    if pd.isnull(row['weight_data']): 
#         print("Null! weight_data:{}".format(row['weight_data']))
        return row['weight_baby']
    return row['weight_data']


df_sample = df_join.sample(10)

In [28]:
df_sample[['date', 'weight_data', 'weight_baby']]

                         date weight_data weight_baby
27632988  2020-11-06 08:00:06        10.0        10.0
9659403   2019-07-08 07:25:15        19.0        19.0
27279582  2020-10-19 16:28:51        16.0        16.0
20453339  2020-12-15 23:45:22        13.5        14.8
12392023  2019-09-24 17:39:06        12.0        12.0
9622514   2019-08-13 13:31:26        10.5        10.5
15267128  2020-09-12 14:13:07        11.0        12.0
10974256  2019-10-24 00:30:54        14.0        14.0
29113307  2021-04-22 00:22:07        22.0        22.0
26616589  2021-04-11 18:07:09        10.2        10.2

In [29]:
df_sample['weight'] = df_sample.apply(weight_filter, axis=1)
df_sample[['weight', 'weight_data', 'weight_baby']]

         weight weight_data weight_baby
27632988   10.0        10.0        10.0
9659403    19.0        19.0        19.0
27279582   16.0        16.0        16.0
20453339   13.5        13.5        14.8
12392023   12.0        12.0        12.0
9622514    10.5        10.5        10.5
15267128   11.0        11.0        12.0
10974256   14.0        14.0        14.0
29113307   22.0        22.0        22.0
26616589   10.2        10.2        10.2

In [30]:
df_sample.sort_values("date", inplace=True)
df_sample

,_id_data,baby_id,app_code,group_id,type,data_1,data_2,data_3,data_4,data_5,...,weight_baby,next_check_time,sensing_gaps,convulsion,highrisks,last_update_de_baby,last_update_id,last_update_weight,is_delete_baby,weight
9659403,42140750,210476,100,NaN,1,37.7,C,NaN,0,NaN,...,19.0,NaN,0,0,NaN,2021-05-21 08:07:14,NaN,2021-05-17 18:58:16,0,19.0
9622514,45897880,507270,100,NaN,1,37.2,C,NaN,0,NaN,...,10.5,NaN,0,0,NaN,2020-01-21 20:09:58,NaN,NaN,0,10.5
12392023,50032274,199982,100,NaN,1,38.5,C,NaN,0,NaN,...,12.0,NaN,3,0,NaN,2021-03-22 03:19:01,NaN,NaN,0,12.0
10974256,52847561,198129,100,NaN,1,36.7,C,NaN,0,NaN,...,14.0,NaN,3,0,NaN,2021-05-28 16:52:01,NaN,2021-05-28 16:15:54,0,14.0
15267128,74804631,316051,100,20200912141315,1,37.7,C,NaN,0,NaN,...,12.0,NaN,3,0,NaN,2021-03-03 07:06:29,NaN,2021-03-02 16:02:15,0,11.0
27279582,76423784,870814,100,20201019162855,1,37.3,C,NaN,0,NaN,...,16.0,NaN,0,0,NaN,2020-10-20 08:42:29,NaN,NaN,0,16.0
27632988,77357253,884579,100,NaN,2,0,3.5,1,1,NaN,...,10.0,NaN,3,0,NaN,2021-05-27 22:41:00,NaN,NaN,0,10.0
20453339,79121125,659059,100,NaN,2,0,6,1,1,NaN,...,14.8,NaN,2,0,NaN,2021-05-25 01:36:53,NaN,2021-05-11 05:09:36,0,13.5
26616589,84040633,846569,100,20210411180720,1,39.4,C,NaN,0,NaN,...,10.2,NaN,6,0,NaN,2021-04-12 22:21:51,NaN,2021-04-10 23:58:00,0,10.2
29113307,84579046,951865,100,NaN,2,0,7,1,2,NaN,...,22.0,NaN,0,1,NaN,2021-04-23 08:41:10,NaN,NaN,0,22.0

In [31]:
%%time
print(sum(df_join['weight_data'].isnull()))
df_join['weight'] = df_join.apply(weight_filter, axis=1)
print(sum(df_join['weight'].isnull()))

0
0
CPU times: user 5min 10s, sys: 5.74 s, total: 5min 16s
Wall time: 5min 16s

In [32]:
df_join.columns

Index(['_id_data', 'baby_id', 'app_code', 'group_id', 'type', 'data_1',
       'data_2', 'data_3', 'data_4', 'data_5', 'data_6', 'data_7', 'data_8',
       'lat', 'lng', 'weight_data', 'memo', 'date', 'last_update_de_data',
       'is_test', 'is_delete_data', '_id_baby', 'user_sn', 'name', 'birthday',
       'gender', 'weight_baby', 'next_check_time', 'sensing_gaps',
       'convulsion', 'highrisks', 'last_update_de_baby', 'last_update_id',
       'last_update_weight', 'is_delete_baby', 'weight'],
      dtype='object')

In [33]:
df_join.rename(columns={'_id_data':'_id', 
                        'last_update_de_data': 'last_update_de',
                       'is_delete_data': 'is_delete'}, inplace=True)
df_join.columns

Index(['_id', 'baby_id', 'app_code', 'group_id', 'type', 'data_1', 'data_2',
       'data_3', 'data_4', 'data_5', 'data_6', 'data_7', 'data_8', 'lat',
       'lng', 'weight_data', 'memo', 'date', 'last_update_de', 'is_test',
       'is_delete', '_id_baby', 'user_sn', 'name', 'birthday', 'gender',
       'weight_baby', 'next_check_time', 'sensing_gaps', 'convulsion',
       'highrisks', 'last_update_de_baby', 'last_update_id',
       'last_update_weight', 'is_delete_baby', 'weight'],
      dtype='object')

# Save by month

In [34]:
new_target_months_list = []
for yyyy_m in target_months_list:
    yyyy, m = yyyy_m.split("_")
    yyyy_mm = "{:04d}_{:02d}".format(int(yyyy), int(m))
    new_target_months_list.append(yyyy_mm)
new_target_months_list

['2019_06',
 '2019_07',
 '2019_08',
 '2019_09',
 '2019_10',
 '2019_11',
 '2019_12',
 '2020_01',
 '2020_02',
 '2020_03',
 '2020_04',
 '2020_05',
 '2020_06',
 '2020_07',
 '2020_08',
 '2020_09',
 '2020_10',
 '2020_11',
 '2020_12',
 '2021_01',
 '2021_02',
 '2021_03',
 '2021_04',
 '2021_05']

In [35]:
for idx, yyyy_mm in enumerate(new_target_months_list):
    
    start_yyyy_mm = yyyy_mm.replace("_", "-") + "-01 00:00:00"
    if idx == len(new_target_months_list) - 1:
        next_yyyy_mm = "2021-06-01 00:00:00"
    else:
        next_yyyy_mm = new_target_months_list[idx+1].replace("_", "-") + "-01 00:00:00"
    print(yyyy_mm, start_yyyy_mm, next_yyyy_mm)
    target_cols = df_all_md_data.columns.tolist() + ["birthday", 'convulsion']
    df_tmp = df_join[(df_join['date'] >= start_yyyy_mm ) & (df_join['date'] < next_yyyy_mm )][target_cols]
    print(yyyy_mm, df_tmp.shape)
    
    filepath = "/Users/mckim/PycharmProjects/Apollo_model_dev/data/v2/md_data_{}.csv".format(yyyy_mm)
    print(filepath)
    df_tmp.to_csv(filepath, index=False)

2019_06 2019-06-01 00:00:00 2019-07-01 00:00:00
2019_06 (1934446, 23)
/Users/mckim/PycharmProjects/Apollo_model_dev/data/v2/md_data_2019_06.csv
2019_07 2019-07-01 00:00:00 2019-08-01 00:00:00
2019_07 (2055513, 23)
/Users/mckim/PycharmProjects/Apollo_model_dev/data/v2/md_data_2019_07.csv
2019_08 2019-08-01 00:00:00 2019-09-01 00:00:00
2019_08 (1686712, 23)
/Users/mckim/PycharmProjects/Apollo_model_dev/data/v2/md_data_2019_08.csv
2019_09 2019-09-01 00:00:00 2019-10-01 00:00:00
2019_09 (1733030, 23)
/Users/mckim/PycharmProjects/Apollo_model_dev/data/v2/md_data_2019_09.csv
2019_10 2019-10-01 00:00:00 2019-11-01 00:00:00
2019_10 (1752700, 23)
/Users/mckim/PycharmProjects/Apollo_model_dev/data/v2/md_data_2019_10.csv
2019_11 2019-11-01 00:00:00 2019-12-01 00:00:00
2019_11 (1863694, 23)
/Users/mckim/PycharmProjects/Apollo_model_dev/data/v2/md_data_2019_11.csv
2019_12 2019-12-01 00:00:00 2020-01-01 00:00:00
2019_12 (2528864, 23)
/Users/mckim/PycharmProjects/Apollo_model_dev/data/v2/md_data_2019_12.csv
2020_01 2020-01-01 00:00:00 2020-02-01 00:00:00
2020_01 (2108464, 23)
/Users/mckim/PycharmProjects/Apollo_model_dev/data/v2/md_data_2020_01.csv
2020_02 2020-02-01 00:00:00 2020-03-01 00:00:00
2020_02 (1068511, 23)
/Users/mckim/PycharmProjects/Apollo_model_dev/data/v2/md_data_2020_02.csv
2020_03 2020-03-01 00:00:00 2020-04-01 00:00:00
2020_03 (702784, 23)
/Users/mckim/PycharmProjects/Apollo_model_dev/data/v2/md_data_2020_03.csv
2020_04 2020-04-01 00:00:00 2020-05-01 00:00:00
2020_04 (670961, 23)
/Users/mckim/PycharmProjects/Apollo_model_dev/data/v2/md_data_2020_04.csv
2020_05 2020-05-01 00:00:00 2020-06-01 00:00:00
2020_05 (896269, 23)
/Users/mckim/PycharmProjects/Apollo_model_dev/data/v2/md_data_2020_05.csv
2020_06 2020-06-01 00:00:00 2020-07-01 00:00:00
2020_06 (907479, 23)
/Users/mckim/PycharmProjects/Apollo_model_dev/data/v2/md_data_2020_06.csv
2020_07 2020-07-01 00:00:00 2020-08-01 00:00:00
2020_07 (950947, 23)
/Users/mckim/PycharmProjects/Apollo_model_dev/data/v2/md_data_2020_07.csv
2020_08 2020-08-01 00:00:00 2020-09-01 00:00:00
2020_08 (870863, 23)
/Users/mckim/PycharmProjects/Apollo_model_dev/data/v2/md_data_2020_08.csv
2020_09 2020-09-01 00:00:00 2020-10-01 00:00:00
2020_09 (775685, 23)
/Users/mckim/PycharmProjects/Apollo_model_dev/data/v2/md_data_2020_09.csv
2020_10 2020-10-01 00:00:00 2020-11-01 00:00:00
2020_10 (1014498, 23)
/Users/mckim/PycharmProjects/Apollo_model_dev/data/v2/md_data_2020_10.csv
2020_11 2020-11-01 00:00:00 2020-12-01 00:00:00
2020_11 (963495, 23)
/Users/mckim/PycharmProjects/Apollo_model_dev/data/v2/md_data_2020_11.csv
2020_12 2020-12-01 00:00:00 2021-01-01 00:00:00
2020_12 (844764, 23)
/Users/mckim/PycharmProjects/Apollo_model_dev/data/v2/md_data_2020_12.csv
2021_01 2021-01-01 00:00:00 2021-02-01 00:00:00
2021_01 (717116, 23)
/Users/mckim/PycharmProjects/Apollo_model_dev/data/v2/md_data_2021_01.csv
2021_02 2021-02-01 00:00:00 2021-03-01 00:00:00
2021_02 (695677, 23)
/Users/mckim/PycharmProjects/Apollo_model_dev/data/v2/md_data_2021_02.csv
2021_03 2021-03-01 00:00:00 2021-04-01 00:00:00
2021_03 (1119991, 23)
/Users/mckim/PycharmProjects/Apollo_model_dev/data/v2/md_data_2021_03.csv
2021_04 2021-04-01 00:00:00 2021-05-01 00:00:00
2021_04 (1120025, 23)
/Users/mckim/PycharmProjects/Apollo_model_dev/data/v2/md_data_2021_04.csv
2021_05 2021-05-01 00:00:00 2021-06-01 00:00:00
2021_05 (1207600, 23)
/Users/mckim/PycharmProjects/Apollo_model_dev/data/v2/md_data_2021_05.csv

In [ ]:
(1947103, 21)
(2069152, 21)
(1696570, 21)
(1742666, 21)
(1762719, 21)
(1872734, 21)
(2541693, 21)
(2117916, 21)
(1073637, 21)
(706411, 21)
(673607, 21)
(899586, 21)
(910884, 21)
(954659, 21)
(873496, 21)
(778629, 21)
(1017326, 21)
(966197, 21)
(847612, 21)
(719349, 21)
(697475, 21)
(1122558, 21)
(1122164, 21)
(1209544, 21)